{% extends 'base.html.twig' %}

{% block title %}Gestion des Feuilles de Matchs en Ligne | S'inscrire
{% endblock %}

{% block body %}

	<div class="row g-2 mt-5">
		{# {% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		{% endfor %} #}
		<div class="col-12 col-lg-6 mb-3">
			{{ form_start(registrationForm) }}
			<div class="card border-primary">
				<h5 class="card-header text-center text-primary">Inscrire un utilisateur</h5>
				<div class="card-body text-primary">

					<div class="mb-3 row">
						{{ form_label(registrationForm.email) }}
						<div class="col-12">
							{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="mb-3 row">
						{{ form_label(registrationForm.password) }}
						<div class="col-12">
							{{ form_widget(registrationForm.password, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="form-check mb-3">
						{{ form_label(registrationForm.roles) }}
						<div class="col-12">{{ form_widget(registrationForm.roles) }}</div>
					</div>

					<div class="mb-3 row">
						{{ form_label(registrationForm.equipe) }}
						<div class="col-12">
							{{ form_widget(registrationForm.equipe, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="text-center my-4">
						<button class="btn btn-sm btn-primary " type="submit">
							Inscrire
						</button>
					</div>
				</div>
			</div>
			{{ form_end(registrationForm) }}
		</div>
		<div class="col-12 col-lg-6 mb-3">
			<h2 class="text-center">Les utilisateurs inscrits</h2>
			<div class="table-responsive overflow" style="height:400px;">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Email</th>
							<th>Rôles</th>
							<th>Équipe</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							{% if app.user.id !=  user.id %}
								<tr>
									<td><span class="badge rounded-pill text-bg-dark">#{{ user.id }}</span></td>
									<td><span class="badge text-bg-light">{{ user.email }}</span></td>
									<td>
										{% for role in user.roles %}
											{% if role == 'ROLE_ADMIN' %}
												<span class="badge rounded-pill text-bg-danger">Admin</span>
											{% elseif role == 'ROLE_EQUIPE' %}
												<span class="badge rounded-pill text-bg-primary">Équipe</span>
											{% elseif role == 'ROLE_SUPERADMIN' %}
												<span class="badge rounded-pill text-bg-warning">Super Admin</span>
											{% endif %}
										{% endfor %}
									</td>
									<td>
										{% if 'ROLE_EQUIPE' in user.roles and user.equipe is not null %}
											<span class="badge text-bg-info">{{ user.equipe.nom }}</span>
										{% endif %}
									</td>
									<td>
										<div class="dropdown">
											<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
												<i class='fas fa-gear'></i>
											</button>
											<ul class="dropdown-menu">
												<li>
													<a class="dropdown-item disabled" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
												</li>
												<li>
													<a class="dropdown-item disabled" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
												</li>
												<li>{{ include('user/_delete_form.html.twig') }}</li>
											</ul>
										</div>
									</td>
								</tr>
							{% endif %}
						{% else %}
							<tr>

								<td colspan="5">Aucun utilisateur trouvé !</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		document.getElementById("user_registration_form_equipe").removeAttribute("required");
	</script>
{% endblock %}
